<!-- templates/about.html -->
{% extends 'base.html' %}
{% block title %}О нас{% endblock %}

{% block content %}
<div class="about-section">
    <div class="about-text">
        Привет, это — органик. Мы ищем вдохновение в том, что нас<br/>
        окружает в нашей обычной жизни. Наши коллекции об этом же.<br/>
        Мы обращаемся к теме бесконечного потребления и цикличности<br/>
        обряда похода за продуктами. Но видим в этом свою поэзию. <br/>
        Наши главные принципы — ирония и любовь. Мы смеемся над тем,<br/>
        что видим и любим то, над чем смеемся.
    </div>
    <div class="about-text">
        Наша суперсила — удивляться и не привыкать к незаметным<br/>
        деталям, из которого состоит наш мир, видеть в них нечто особенное.<br/>
        Or even physical products. She thoroughly enjoys working<br/>
        with colorful concepts, set designs, and combining different mediums.
    </div>
</div>
{% endblock %}